#!/usr/bin/make -f

%:
	dh $@

override_dh_installdirs:
	dh_installdirs

	# Add here commands to install the package into debian/gooroomsystem.
	#$(MAKE) install DESTDIR=$(CURDIR)/debian/gooroomsystem
	mkdir -p $(CURDIR)/debian/gooroomsystem
	cp -r $(CURDIR)/usr $(CURDIR)/debian/gooroomsystem/
	cp -r $(CURDIR)/etc $(CURDIR)/debian/gooroomsystem/

override_dh_installdeb:
	dh_installdeb

	find ${CURDIR}/debian/*/DEBIAN -name conffiles -delete
